
.wrapper{
    margin: 0 auto;
    width: 100%;
    height: 100vh;
    background-image: url(../img/background.png);
    background-repeat: no-repeat;
    background-size:cover;
    position: relative;
}
.header-navigation{
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
    background: rgba(0, 0, 0, 0.4);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 18px 79px;
}
.logo-link{
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 22px;
    color: #FFFFFF;
}

.navigation-icons{
    display: flex;
    align-items:center;
}
.icon{
    padding-right: 25px;
}
.registration-metod{
    display: flex;
    align-items: center;
    
    
}
.registration-metod, .registration-log-in, .registration-sing-in{
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: #FFFFFF;
}
.registration-metod::before{
    content: "";
    display: inline-block;
    width: 1px;
    height: 19px;
    background: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.5;
    margin-right: 25px;
}

.form-registration{
    width: 444px;
    height: 584px;
    background: #FFFFFF;
    box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.52);
    position: absolute;
    left:calc(50% - 222px);
    top:calc(50% - 292px + 63px);
}
